<nav>
  <div class="wrapper nav-container">
    <ul class="menu-icon">
      <li><a href="#home">bautistaj</a></li>
    </ul>

    <ul class="show show-options">
      <li><a class="nav-item" [routerLink]="['/pcbrands/page/0']" routerLinkActive="active">Brands</a></li>
      <li><a class="nav-item" [routerLink]="['/pcbrands/page/0']" routerLinkActive="active">Users</a></li>
      <li><a class="nav-item" [routerLink]="['/pcbrands/page/0']" routerLinkActive="active">Surveys</a></li>
    </ul>
  </div>
</nav>