@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;900&display=swap')

*
  margin: 0
  padding: 0

body
  background-color: #F5F5F5
  font-family: 'Roboto', sans-serif

input, select, textarea
  margin-bottom: 10px
  border-radius: 5px
  border: none
  background-color: #F5F5F5
  padding: 10px
  width: 100%
  box-sizing: border-box
  &.is-valid
    border: 1px solid green
    
  &.is-invalid
    border: 1px solid red

button
  background-color: #FA5A70
  border-radius: 5px
  padding: 10px
  color: #FFFFFF
  border: none
  cursor: pointer

.wrapper
  margin-right: auto
  margin-left:  auto
  max-width: 960px
  padding-right: 10px
  padding-left: 10px

/* TABLE */
table
  border-collapse: collapse
  width: 100%

td, th
  border: 1px solid #fcf4f4
  text-align: left
  padding: 8px

tr:nth-child(even)
  background-color: #fcf4f4

thead
  color: #FA5A70


.danger
  background-color: red
  color: #FFFFFF

.success
  background-color: green
  color: #FFFFFF

.active
  color: green
  
/** Util **/
.justify-text
  text-align: center
/** Util **/


